body{
    padding: 0;
    margin: 0;
min-height: 100vh;    
}
body *{
    box-sizing: border-box;
}

.layout {
    display: flex;
    flex-direction: column;
min-height: 100vh;
}
.layout__header {
    background: #ccc;
    min-height: 100px;

}
.layout__main {
    background: #f39494;
    min-height: 100px;
    flex: 1 0 auto;
}
.layout__footer {
    background: rgb(165, 202, 175);
    min-height: 100px;
}   

.home-catalog {
    display: flex;
    justify-content: center;
    background: #ffffff;
    /* min-height: 270px; */
}

.home-catalog__container {
    background: #e6bfbf;
    min-height: 270px;
    /* padding: 76px 33px; */
}
.home-catalog__list {
    display: flex;
    justify-content: flex-start; /* выравнивание элементов с самого начала */
    flex-wrap: wrap; /*разрешаем перенос дочерних блоков у display: flex; */
    width: calc(960px + 21px); /*увеличиваем ширину блока на маргин */
    margin-left: -21px; /* и сдвигаем влево, чтобы компенсировать маргин итемов */
    margin-top: 77px;
    background: #ffffff;
}
.home-catalog__item {
    background: #e1e1e1;
    width: calc(20% - 21px); /*5 элементов в ряд => ширина 1 элемента с отступом = 20% => ширина самого элемента = 20%-отступ */
    margin-left: 21px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px 5px;
    max-width: 175px;
    margin-bottom: 33px;
}
.home-catalog__item a {
    text-decoration: none;
    color: #3a4750;
    font-size: 14px;
    font-family: "Open-Sans", sans-serif; 
}
.home-catalog__item a:hover{
    color: #3d728e;
 }
.home-catalog__item-img {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 58%; /*высота деленная на ширину*/
    margin-bottom: 5px;
}
.home-catalog__item-img img {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.home-page-text {
    display: flex;
    justify-content: center;
    /*min-height: 575px;*/
    /* width: 980px; */
    padding-bottom: 95px;
    background: ivory;
}
.home-page-text__container {
    width: 960px; 
} 
.home-page-text h1 {
    margin: 0;
    padding: 65px 0px 10px 0px;
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    font-weight: 100;
    color: #1d1d1d;
    display: block;
    width: 550px;
}
.home-page-text p {
    float: left;
    padding-right: 66px;
    padding-bottom: 10px;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}